*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background-color: #fff;
    color: #000;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    font-family: 'Work Sans','Arial',sans-serif;
    font-weight: 300;
}


.clearfix{
    zoom: 0%;
}

.clearfix:after{
    content: "";
    display: table;
    clear:both;
    visibility:hidden;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

header{
    background-image: -webkit-linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)),url(img/header-img.jpg);
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)),url(img/header-img.jpg);
    height: 100vh;
    background-size: cover;
    background-position:center;
    position: relative;
}

.header-box{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform:translate(-50%,-50%);
            transform:translate(-50%,-50%);
}

.header-box-text{
    margin-bottom: 100px;
}

h1{
    font-size: 500%;
    color: white;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
}

h2{
    font-size: 200%;
    color: white;
    font-weight: 400;
    text-align: center;
}

.header-btn
{
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 200px;
    margin-left: 220px;
    background-color: #ed07b7;
    color: white;
}

.header-btn:hover{
    background-color: #bd0592;
}

.btn1,input[type=submit]{
    border: 1px solid #bd0592;
    border-radius: 200px;
    text-align: center;
    width: 100px;
    padding: 6px;
    margin-top: 30px;
}

.btn2{
    text-decoration: none;
    color: #bd0592;
}

.main-nav{
    list-style: none;
    float: right;
    margin-top: 50px;
}

.main-nav li{
    display: inline-block;
    margin-right: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    text-decoration: none;
    color: white;
}

.main-nav li a:hover,
.main-nav li a:active
{
    border-bottom: 5px solid #bd0592;
    -webkit-transition:border-bottom 0.5s;
    transition: border-bottom 0.5s;
}

.logo{
    height: 120px;
    width: auto;
    float: left;
}

.sticky-nav{
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(255,255,255,0.8);
    width: 100%;
    box-shadow: 0 2px 2px #efefef;
}

.sticky-nav .logo{
    height: 60px;
    margin-top: 3px;
}

.sticky-nav .main-nav{
    margin-top: 22px;
}

.sticky-nav .main-nav li a:link,
.sticky-nav .main-nav li a:visited{
    color:#555;
    padding: 5px 0px;
}

/* about section start */

.container{
    margin-top: 100px;
}

.about-section{
    padding-bottom: 20px;
}

.laptop-img{
    width: 80%;
}

.about-heading{
    color: black;
    font-size: 250%;
    font-weight: 500;
    margin-bottom: 50px;
    text-align: left;
}

.about-para{
    margin-bottom: 20px;
    color: #555;
    word-spacing: 6px;
    line-height: 25px;
}

.about-box:first-child{
    text-align: left;
    padding: 0 5%;
}

.about-box:last-child{
    text-align: right;
}


/* work section */

.section-heading{
    font-size: 250%;
    color: black;
    margin-bottom: 20px;
    margin-top: 100px;
}

.section-sub-heading{
    font-size: 150%;
    color: #555;
    font-weight: 300;
    margin-bottom: 30px;
    line-height: 1.5;
}

.section-sub-heading:after{
    display: block;
    height: 2px;
    width: 100px;
    background-color:#bd0592;
    content: " ";
    margin: 30px auto 0 auto;
}

/* WORK PORTFOLIO IMAGE START */

.work-section{
    text-align: center;
    background-color: #f4f4f4;
}

.work-portfolio{
    margin-top: 10px;
    list-style: none;
    width: 100%;
}

.work-portfolio li{
    display: block;
    width: 25%;
    float: left;    
}

.portfolio-image{
    background-color: #000;
    overflow: hidden;
}

.portfolio-image img{
    width: 100%;
    height: auto;
    opacity: 0.7;
    -webkit-transform:scale(1.15);
            transform:scale(1.15);
}

.portfolio-image img:hover{
    -webkit-transform:scale(1);
            transform:scale(1);
    opacity: 1;
    -webkit-transition:0.5s;
    transition: 0.5s;
    opacity: 0.5s;
}

.work-para{
    color: white;
    margin-bottom: 3px;
}

/* service section */

.services-section{
    text-align: center;
    background-color: #f4f4f4;
}

.service-box{
    padding: 1% 4%;
}

.big-icon{
    font-size: 250%;
    color: #6920b0;
    display: block;
    margin-bottom: 30px;
}

.service-heading{
    font-size: 150%;
    margin-bottom: 30px;
    font-weight: 400;
}

.service-para{
    color: #555;
    font-size: 90%;
    margin-bottom: 20px;
}

.service-link{
    color: #ed07b7;
    text-transform: uppercase;
    text-decoration: none;
}

/* featured clints section start */

.partner-section{
    text-align: center;
}

.partner-logo{
    width: 65%;
    height: auto;
}

/* testimonial section */

.testimonial-section{
    text-align: center;
    color: #fff;
    background-image:-webkit-linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.8)),url(img/testimonial-background.jpg);
    background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.8)),url(img/testimonial-background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.testimonial-heading{
    font-size: 250%;
    margin-bottom: 20px;
    margin-top: 150px;
}

.testimodial-box{
    text-align: left;
    margin-bottom: 50px;
} 

blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    margin-top: 40px;
    position: relative;
}

blockquote:before { 
    content:"\201C";
    display: block;
    font-size: 500%;
    position: absolute;
    left: -5px;
    top: -5px;
 }

cite{
     display: block;
     margin-top: 20px;
     font-size: 90%;
}

cite img{
    border-radius: 50%;
    height: 20%;
    vertical-align: middle;
    margin-right: 15px;
}

/* package section start */

.package-section{
    text-align: center;
    background-color: #f4f4f4;
    margin-top: 150px;
}

.packages-heading{
    color:#000;
    font-size: 250%;
    margin-bottom: 60px;
    margin-top: 150px;
}

.package-box{
    background-color: #fff;
    width: 90%;
    margin-bottom: 30px;
    box-shadow:  3px 3px 2px #efef;
    text-align: left;
}

.package-heading{
    font-size: 150%;
    color: #555;
    margin-bottom: 50px;
    font-weight: 400;
}

.package-price{
    color: #ed07b7;
    font-size: 300%;
    margin-bottom: 10px;
}

.package-price span{
    font-size: 30%;
    font-weight: 500;
}

.package-para{
    color: #555;
    font-size:80%;
    margin-bottom: 10px;
}

.package-box ul{
    list-style: none;
}

.small-icon{
    color:#ed07b7;
    font-size: 120%;
    display: inline-block;
    margin-right: 30px;
    width: 30px;
    text-align: center;
}

.package-box ul li{
    color: #555;
    padding: 5px 0;
}

.package-box div{
    padding: 15px;
    border-bottom: 1px solid #efef;
}

.package-btn{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 200px;
    margin: 20px 70px;
    display: inline-block;
}

.package-box div:first-child{
    background-color:#fcfcfc;
}

/* contact section start */

.contact-section{
    text-align: center;
}

.contact-heading{
    color: #000;
    margin: 150px 0px 50px 0px;
}

label{
    text-align: left;
}

.contact-form{
    text-align: left;
    width: 60%;
    margin: 0px auto;
    color: #555;
}

input[type=text],
input[type=email],
textarea{
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #fff;
}

input[type=checkbox]{
    margin: 5px 5px; 
}

/* footer start */

footer{
    background-color: #333;
    padding: 50px;
    font-size: 80%;
    color: #888;
}

.footer-nav{
    float: left;
}

.footer-nav li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    color: #888;
    text-decoration: none;
    font-size: 160%;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color: #fff;
    -webkit-transition:color 0.2s;
    transition:color 0.2s;
}

.social-links{
    float: right;
}

.social-links li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.fa-instagram,
.fa-twitter,
.fa-github,
.fa-youtube,
.fa-linkedin-in
{
    -webkit-transition:color 0.2s;
    transition:color 0.2s;
}

.fa-instagram:hover{
    color: #c32aa3;
}

.fa-twitter:hover{
    color:#1da1f2;
}

.fa-github:hover{
    color: #fff;
}

.fa-youtube:hover{
    color: #ff0000;
}

.fa-linkedin-in:hover{
    color: #0e76a8
}

footer p{
    text-align: center;
    margin-top: 50px;
    line-height: 1.5;
    font-size: 100%;
}

















